{% extends 'accounts/base.html' %}
{% block title %}
    SwaGrader
{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li><a href="#aboutus">About Us</a></li>
        <li><a href="#vision">Vision</a></li>
        <li><a href="#history">History</a></li>
        <li><a href="#future">Future</a></li>
    </ul>
    {% if not current_user %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'practice:practice-home' %}">Practice</a></li>
            <li><a href="{% url 'contests:contests-home' %}">Contests</a></li>
            <li><a href="{% url 'accounts:accounts-login' %}"><span class="glyphicon glyphicon-grain"></span>LogIn</a></li>
            <li><a href="{% url 'accounts:accounts-create' %}"><span class="glyphicon glyphicon-grain"></span>SignUp</a></li>
        </ul>
    {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'practice:practice-home' %}">Practice</a></li>
            <li><a href="{% url 'contests:contests-home' %}">Contests</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" ><span class="glyphicon glyphicon-user"></span>
                    {{ current_user.username }}<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'accounts:accounts-home' %}">Profile</a></li>
                  <li><a href="{% url 'accounts:accounts-logout' %}">Logout</a></li>
                </ul>
            </li>
        </ul>
    {% endif %}
{% endblock %}



{% block body %}
{% load static %}
<div class="bgimg-1">
  <div class="caption" >
    <span><img class="w3-animate-zoom" src="{% static 'accounts/logo.png' %}" alt="My image"/></span>
  </div>
</div>

<div id="motivation" style="color: #63721e;background-color:#09111B;text-align:center;padding:50px 80px;text-align: justify;">
  <h2 style="text-align:center;">Motivation</h2>
  <p>Parallax scrolling is a web site trend where the background content is moved at a different speed than the foreground content while scrolling. Nascetur per nec posuere turpis, lectus nec libero turpis nunc at, sed posuere mollis ullamcorper libero ante lectus, blandit pellentesque a, magna turpis est sapien duis blandit dignissim. Viverra interdum mi magna mi, morbi sociis. Condimentum dui ipsum consequat morbi, curabitur aliquam pede, nullam vitae eu placerat eget et vehicula. Varius quisque non molestie dolor, nunc nisl dapibus vestibulum at, sodales tincidunt mauris ullamcorper, dapibus pulvinar, in in neque risus odio. Accumsan fringilla vulputate at quibusdam sociis eleifend, aenean maecenas vulputate, non id vehicula lorem mattis, ratione interdum sociis ornare. Suscipit proin magna cras vel, non sit platea sit, maecenas ante augue etiam maecenas, porta porttitor placerat leo.</p>
</div>

<div class="bgimg-2">
</div>

<div id="vision" style="color: #63721e;blur: 0.90; background-color:#09111B;text-align:center;padding:50px 80px;text-align: justify;">
  <h2 style="text-align:center;">Vision</h2>
  <p>Parallax scrolling is a web site trend where the background content is moved at a different speed than the foreground content while scrolling. Nascetur per nec posuere turpis, lectus nec libero turpis nunc at, sed posuere mollis ullamcorper libero ante lectus, blandit pellentesque a, magna turpis est sapien duis blandit dignissim. Viverra interdum mi magna mi, morbi sociis. Condimentum dui ipsum consequat morbi, curabitur aliquam pede, nullam vitae eu placerat eget et vehicula. Varius quisque non molestie dolor, nunc nisl dapibus vestibulum at, sodales tincidunt mauris ullamcorper, dapibus pulvinar, in in neque risus odio. Accumsan fringilla vulputate at quibusdam sociis eleifend, aenean maecenas vulputate, non id vehicula lorem mattis, ratione interdum sociis ornare. Suscipit proin magna cras vel, non sit platea sit, maecenas ante augue etiam maecenas, porta porttitor placerat leo.</p>
</div>


<div class="bgimg-3">
</div>

<div id="history" style="color:#63721e;background-color:#09111B;text-align:center;padding:50px 80px;text-align: justify;">
  <h2 style="text-align:center;">History</h2>
  <p>Parallax scrolling is a web site trend where the background content is moved at a different speed than the foreground content while scrolling. Nascetur per nec posuere turpis, lectus nec libero turpis nunc at, sed posuere mollis ullamcorper libero ante lectus, blandit pellentesque a, magna turpis est sapien duis blandit dignissim. Viverra interdum mi magna mi, morbi sociis. Condimentum dui ipsum consequat morbi, curabitur aliquam pede, nullam vitae eu placerat eget et vehicula. Varius quisque non molestie dolor, nunc nisl dapibus vestibulum at, sodales tincidunt mauris ullamcorper, dapibus pulvinar, in in neque risus odio. Accumsan fringilla vulputate at quibusdam sociis eleifend, aenean maecenas vulputate, non id vehicula lorem mattis, ratione interdum sociis ornare. Suscipit proin magna cras vel, non sit platea sit, maecenas ante augue etiam maecenas, porta porttitor placerat leo.</p>
</div>

<div class="bgimg-4">
</div>

<div id="future" style="color: #63721e;background-color:#09111b;text-align:center;padding:50px 80px;text-align: justify;">
  <h2 style="text-align:center;">Future</h2>
  <p>Parallax scrolling is a web site trend where the background content is moved at a different speed than the foreground content while scrolling. Nascetur per nec posuere turpis, lectus nec libero turpis nunc at, sed posuere mollis ullamcorper libero ante lectus, blandit pellentesque a, magna turpis est sapien duis blandit dignissim. Viverra interdum mi magna mi, morbi sociis. Condimentum dui ipsum consequat morbi, curabitur aliquam pede, nullam vitae eu placerat eget et vehicula. Varius quisque non molestie dolor, nunc nisl dapibus vestibulum at, sodales tincidunt mauris ullamcorper, dapibus pulvinar, in in neque risus odio. Accumsan fringilla vulputate at quibusdam sociis eleifend, aenean maecenas vulputate, non id vehicula lorem mattis, ratione interdum sociis ornare. Suscipit proin magna cras vel, non sit platea sit, maecenas ante augue etiam maecenas, porta porttitor placerat leo.</p>
</div>

<div class="bgimg-1">
</div>

{% endblock %}



