{% extends 'accounts/base.html' %}
{% block title %}
    Challenges
{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'home:home' %}">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="{% url 'practice:practice-home' %}">Practice</a></li>
        <li class="active"><a href="{% url 'contests:contests-home' %}">Contests</a></li>
    </ul>
    {% if not current_user %}
        <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" ><span class="glyphicon glyphicon-log-in"></span>
                Login
            </a>
            <ul class="dropdown-menu">
                <li>
                    <form action="{% url 'accounts:accounts-login' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="user_name">Username</label><br>
                        <input type="text" id="user_name" name="username"><br>
                        <label for="password">Password</label><br>
                        <input type="password" id="password" name="password"><br>
                        <input type="submit" name="log-in" value="Log In">
                    </form>
                </li>
            </ul>
        </li>

        <li><a href="{% url 'accounts:accounts-create' %}"><span class="glyphicon glyphicon-grain"></span>SignUp</a></li>
        </ul>
    {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" ><span class="glyphicon glyphicon-user"></span>
                    {{ current_user.username }}<span class="caret"></span>
                    </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'accounts:accounts-home' %}">Profile</a></li>
                  <li><a href="{% url 'accounts:accounts-logout' %}">Logout</a></li>
                </ul>
            </li>
        </ul>
    {% endif %}
{% endblock %}


{% block body %}

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
                <p><a href="#">Motivation</a></p>
                <p><a href="#">Vision</a></p>
                <p><a href="#">Future</a></p>
                <p><a href="#">History</a></p>
            </div>
            <div class="col-sm-9 text-left">
                <h4>Active Contests</h4>
                <ul>
                    {% for each in active %}
                        <li><a href="{% url 'contests:contest-detail' each.pk %}">{{ each }}</a></li>
                    {% endfor %}
                </ul>
                <br><br>
                <h4>Upcoming Contests</h4>
                <ul>
                    {% for each in upcoming %}
                        <li><a href="{% url 'contests:contest-detail' each.pk %}">{{ each }}</a></li>
                    {% endfor %}
                </ul>
                <br><br>
                <h4>Past Contests</h4>
                <ul>
                    {% for each in past %}
                        <li><a href="{% url 'contests:contest-detail' each.pk %}">{{ each }}</a></li>
                    {% endfor %}
                </ul>
                <br><br>

            </div>
        </div>
    </div>

{% endblock %}
