{% extends 'accounts/base.html' %}
{% block title %}
    Challenges
{% endblock %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'home:home' %}">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="{% url 'practice:practice-home' %}">Practice</a></li>
        <li class="active"><a href="{% url 'contests:contests-home' %}">Contests</a></li>
    </ul>
    {% if not current_user %}
        <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'accounts:accounts-login' %}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
        <li><a href="{% url 'accounts:accounts-create' %}"><span class="glyphicon glyphicon-grain"></span>SignUp</a></li>
        </ul>
    {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" ><span class="glyphicon glyphicon-user"></span>
                    {{ current_user.username }}<span class="caret"></span>
                    </a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'accounts:accounts-home' %}">Profile</a></li>
                  <li><a href="{% url 'accounts:accounts-logout' %}">Logout</a></li>
                </ul>
            </li>
        </ul>
    {% endif %}
{% endblock %}


{% block body %}
    {% if current_user %}
    {% else %}
    {% endif %}
    <h4>Active Contests</h4>
    <ul>
        {% for each in active %}
            <li><a href="{% url 'contests:contest-detail' each.pk %}">{{ each }}</a></li>
        {% endfor %}
    </ul>
    <br><br>
    <h4>Upcoming Contests</h4>
    <ul>
        {% for each in upcoming %}
            <li><a href="{% url 'contests:contest-detail' each.pk %}">{{ each }}</a></li>
        {% endfor %}
    </ul>
    <br><br>
    <h4>Past Contests</h4>
    <ul>
        {% for each in past %}
            <li><a href="{% url 'contests:contest-detail' each.pk %}">{{ each }}</a></li>
        {% endfor %}
    </ul>
    <br><br>
{% endblock %}
