{% extends 'accounts/base.html' %}
{% block title %}
    Challenges
{% endblock %}

{% block body %}
    {% if current_user %}
    {% else %}
    {% endif %}
    <h4>Active Contests</h4>
    <ul>
        {% for each in active %}
            <li><a href="{% url 'contests:contest-detail' each.pk %}">{{ each }}</a></li>
        {% endfor %}
    </ul>
    <br><br>
    <h4>Upcoming Contests</h4>
    <ul>
        {% for each in upcoming %}
            <li><a href="{% url 'contests:contest-detail' each.pk %}">{{ each }}</a></li>
        {% endfor %}
    </ul>
    <br><br>
    <h4>Past Contests</h4>
    <ul>
        {% for each in past %}
            <li><a href="{% url 'contests:contest-detail' each.pk %}">{{ each }}</a></li>
        {% endfor %}
    </ul>
    <br><br>
{% endblock %}
